<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Set plant tag info</mat-card-title>
    <mat-card-subtitle>A preview of the tag is shown below in the image. As you adjust the form, the preview will update.</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="previewImage">
  <mat-card-content *ngIf="plantList">
    <form [formGroup]="plantLabelForm" (ngSubmit)="openDialog()" class="form-container">
        <mat-form-field>
            <mat-label>Select a plant from the list</mat-label>
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Number"
                   matInput
                   [matAutocomplete]="auto"
                   [formControl]="autocompleteFormControl">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                @for (option of filteredOptions | async; track option) {
                    <mat-option [value]="option.name">{{option.name}}</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
        <h4>OR</h4>
        <mat-form-field>
            <mat-label>Plant Name</mat-label>
            <input matInput formControlName="plantName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>URL for QR Code</mat-label>
            <input matInput formControlName="url">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Number of Copies</mat-label>
            <input matInput formControlName="copies" type="number">
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="!plantLabelForm.valid">Print</button>
    </form>
  </mat-card-content>
  <mat-card-content *ngIf="!plantList">
    <p>Loading plant list from Google Sheets...</p>
  </mat-card-content>
</mat-card>